.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.character {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    border-radius: 2px;
    padding: 5px 12px;
    width: clamp(20px, 100%, 40px);
    height: 40px;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
}

.error {
    border: 1px solid red;
}

.character--inactive {
    background: none;
    list-style-type: none;
}